.DS_Store
LemonNotes/Utils/apikeys.h
LemonNotes.xcodeproj/project.xcworkspace/xcuserdata
LemonNotes.xcworkspace/xcuserdata
LemonNotes.xcodeproj/project.xcworkspace/xcuserdata/Dennis.xcuserdatad/UserInterfaceState.xcuserstate
