@import 'mixins';

//reset all margin/padding
* {
    margin: 0;
    padding: 0;
    z-index: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body { height: 100%; }
a { color: black; text-decoration: none; }


/* Constants */
$app_tint: #5291C8;
$logo_tint: #87CDFF;
$bright_blue: #009DFF;

$isle_width: 1200px;
$content_width: 1000px;

.isle
{
    height: inherit;
    margin: 0px auto;
    overflow: hidden;
}
.main_isle { width: $isle_width; }
.content_isle { width: $content_width; }
.container { overflow: hidden; }

.center_text
{
    text-align: center;
    * { display: inline-block; }
}

ul { list-style: none; }
.hor_list
{
    li {
        text-align: center;
        display: inline-block;
        @include transition(0.5s, linear, 0s);
    }
    a {
        text-align: center;
        display: inline-block;
        @include transition(0.1s, linear, 0s);
    }
}

.row { width: 100%; }
.col { float: left; height: inherit; }
.section_title {
    color: $bright_blue;
    font-weight: 400;
    font-size: 28px;
}
.article_title {
    color: black;
    font-weight: bold;
}
.fa { display: inline-block; }

/* Header */
#header
{
    height: 100%;
    color: white;
    background-color: $logo_tint;
    
    //title
    #header_content {
        top: 40%;
        position: relative;
    }
    #title_wrap {
        width: 550px;
        margin: 0px auto;
        @include transition(0.5s, linear, 0s);
    }
    #title {
        width: 450px;
        height: 100px;
    }
    
    //phrase
    #phrase {
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        
        opacity: 0;
        @include transition(0.5s, linear, 0s);
    }
    #phrase.fadein {
        opacity: 1;
        margin-top: 20px;
    }
}


/* Navbar */
$num_links: 4;
$nav_height: 80px;
$item_reduction: 20px;
$link_width_big: $isle_width / $num_links;
$link_width_small: $link_width_big * ($num_links / ($num_links + 0.8));

#navbar
{
    z-index: 100;
    height: $nav_height;
    background-color: $logo_tint;
    
    #lemon_container{
        padding-top: 12px;
        position: absolute;
        height: $nav_height;
        width: $link_width_small - $item_reduction;
        
        opacity: 0;
        a { cursor: default; }
        @include transition(0.3s, linear, 0s);
    }
    #lemon_container.show{ 
       opacity: 1;
        a { cursor: pointer; }
    }
    #lemon_logo { width: 50px; }
    
    ul.hor_list {
        height: inherit;
        text-align: right;
        padding-right: $item_reduction * ($num_links / 2);
    }
    li {
        height: $nav_height;
        width: $link_width_big - $item_reduction; 
    }
    li.shift-right { width: $link_width_small - $item_reduction; }
    
    a { border-bottom: 2px solid transparent; }
    .nav_link {
        color: white;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        
        width: 120px;
        padding-bottom: 8px;
        @include vertical-translate(50%);
    }
    .nav_link:hover { border-bottom: 2px solid #fce359; }
}
#navbar.sticky_navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}

#fill 
{
    width: 100%;
    height: $nav_height;
    display: none;
}

/* Section */
$section_height: 700px;
section 
{
    height: $section_height;
}

/* Features */
$side_col_width: $content_width * 0.05;
$main_col_width: $content_width * 0.90;
#features
{   
    .section_title { 
        height: 100px;
        padding-top: 60px;
        border-bottom: 1px solid $bright_blue;
    }
    
    .section_body { 
        height: 600px;
        height: $section_height - 100px;
    }
    #content_nav { 
        height: 30px;
        line-height: 30px;
        padding: 10px 0px;
        box-sizing: content-box;
    }
    .content_item {
        text-align: left;
        display: inline-block;
        
        padding: 0px 20px 0px 12px;
        border-right: 1px solid #646464;
    }
    .content_item:first-child { padding-left: 5px; }
    .content_item:last-child  { border-right: none; }
    .content_link { 
        color: #6f6f6f;
        @include transition(0.2s, linear, 0s);
    }
    .content_link.active { 
        color: black;
        font-size: 18px;
    }
    .content 
    {
        height: 500px;
        box-sizing: content-box;
        padding: 15px 0px 35px 0px;
    }
    
    //sides
    .col.left  { text-align: left; }
    .col.right { text-align: right; }
    .col.main  { width: $main_col_width; }
    .col.side  { width: $side_col_width; }
    .nav_arrow { @include vertical-translate(42%); }
    .fa {
        color: $app_tint;
        font-size: 30px;
    }
    
    //main
    #preview.col { width: $main_col_width * 0.3; position: relative; }
    #caption.col { width: $main_col_width * 0.7; }
    #frame {
        z-index: 10;
        width: 250px;
        height: auto;
        
        left: 20px;
        position: absolute;
    }
    #preview_list {
        z-index: 0;
        background: #87CDFF;
        width: 200px;
        height: 351px;
        
        top: 75px;
        left: 45px;
        position: relative;
    }
    #caption_list {
        width: 200%;
        height: 100%;
        position: relative;
        left: 0%;
        @include transition(0.5s, linear, 0s);
        
        .caption_item {
            float:left;
            height: inherit;
            width: $main_col_width * 0.7;
        }
        .caption_title {
            color: #767676;
            font-size: 32px;
            font-weight: 400;
            margin: 70px 0px 30px 30px;
        }
        .caption_body {
            color: #8E8E8E;
            font-size: 18px;
            
            margin: 20px 0px 10px 30px;
        }
    }
}








