@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);
/* Transition */
/* Vertical Positioning */
/* Sliding Underline */
.underline-center-out-pre:after {
  width: 0px;
  content: '';
  margin: auto;
  display: block;
  height: 2px;
  background: white;
  transition: width 0.5s ease, background 0.5s ease;
  -ms-transition: width 0.5s ease, background 0.5s ease;
  -moz-transition: width 0.5s ease, background 0.5s ease;
  -webkit-transition: width 0.5s ease, background 0.5s ease; }

.underline-center-out-post:after {
  width: 100%;
  content: '';
  margin: auto;
  display: block;
  height: 2px;
  background: white;
  transition: width 0.5s ease, background 0.5s ease;
  -ms-transition: width 0.5s ease, background 0.5s ease;
  -moz-transition: width 0.5s ease, background 0.5s ease;
  -webkit-transition: width 0.5s ease, background 0.5s ease; }

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%; }

a {
  color: black;
  text-decoration: none; }

/* Constants */
.isle {
  height: inherit;
  margin: 0px auto;
  overflow: hidden; }

.main_isle {
  width: 1200px; }

.content_isle {
  width: 1000px; }

.container {
  overflow: hidden; }

.center_text {
  text-align: center; }
  .center_text * {
    display: inline-block; }

ul {
  list-style: none; }

.hor_list li {
  text-align: center;
  display: inline-block;
  transition: 0.5s linear 0s;
  -ms-transition: 0.5s linear 0s;
  -moz-transition: 0.5s linear 0s;
  -webkit-transition: 0.5s linear 0s; }
.hor_list a {
  text-align: center;
  display: inline-block;
  transition: 0.1s linear 0s;
  -ms-transition: 0.1s linear 0s;
  -moz-transition: 0.1s linear 0s;
  -webkit-transition: 0.1s linear 0s; }

.row {
  width: 100%; }

.col {
  float: left;
  height: inherit; }

.section_title {
  color: #009DFF;
  font-weight: 400;
  font-size: 28px;
  height: 80px;
  padding-top: 30px;
  line-height: 55px;
  box-sizing: border-box;
  border-bottom: 1px solid #009DFF; }

.article_title {
  color: black;
  font-weight: bold; }

.fa {
  display: inline-block; }

/* Header */
#header {
  height: 100%;
  color: white;
  background-color: #87CDFF; }
  #header #header_content {
    top: 40%;
    position: relative; }
  #header #title_wrap {
    width: 550px;
    margin: 0px auto;
    transition: 0.5s linear 0s;
    -ms-transition: 0.5s linear 0s;
    -moz-transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s; }
  #header #title {
    width: 450px;
    height: 100px; }
  #header #phrase {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    opacity: 0;
    transition: 0.5s linear 0s;
    -ms-transition: 0.5s linear 0s;
    -moz-transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s; }
  #header #phrase.fadein {
    opacity: 1;
    margin-top: 20px; }

/* Navbar */
#navbar {
  z-index: 100;
  height: 80px;
  background-color: #87CDFF; }
  #navbar #lemon_container {
    padding-top: 12px;
    position: absolute;
    height: 80px;
    width: 230px;
    opacity: 0;
    transition: 0.3s linear 0s;
    -ms-transition: 0.3s linear 0s;
    -moz-transition: 0.3s linear 0s;
    -webkit-transition: 0.3s linear 0s; }
    #navbar #lemon_container a {
      cursor: default; }
  #navbar #lemon_container.show {
    opacity: 1; }
    #navbar #lemon_container.show a {
      cursor: pointer; }
  #navbar #lemon_logo {
    width: 50px; }
  #navbar ul.hor_list {
    height: inherit;
    text-align: right;
    padding-right: 40px; }
  #navbar li {
    height: 80px;
    width: 280px; }
  #navbar li.shift-right {
    width: 230px; }
  #navbar a {
    border-bottom: 2px solid transparent; }
  #navbar .nav_link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    width: 120px;
    padding-bottom: 8px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  #navbar .nav_link:hover {
    border-bottom: 2px solid #fce359; }

#navbar.sticky_navbar {
  position: fixed;
  top: 0px;
  width: 100%; }

#fill {
  width: 100%;
  height: 80px;
  display: none; }

/* Features */
#features {
  height: 650px; }
  #features .section_body {
    height: 600px; }
  #features #content_nav {
    height: 30px;
    line-height: 30px;
    padding: 10px 0px;
    box-sizing: content-box; }
  #features .content_item {
    text-align: left;
    display: inline-block;
    padding: 0px 20px 0px 12px;
    border-right: 1px solid #646464; }
  #features .content_item:first-child {
    padding-left: 5px; }
  #features .content_item:last-child {
    border-right: none; }
  #features .content_link {
    color: #6f6f6f;
    transition: 0.2s linear 0s;
    -ms-transition: 0.2s linear 0s;
    -moz-transition: 0.2s linear 0s;
    -webkit-transition: 0.2s linear 0s; }
  #features .content_link.active {
    color: black;
    font-size: 18px; }
  #features .content {
    height: 500px;
    box-sizing: content-box;
    padding: 15px 0px 35px 0px; }
  #features .col.left {
    text-align: left; }
  #features .col.right {
    text-align: right; }
  #features .col.main {
    width: 900px; }
  #features .col.side {
    width: 50px; }
  #features .nav_arrow {
    position: relative;
    top: 42%;
    transform: translateY(-58%);
    -ms-transform: translateY(-58%);
    -moz-transform: translateY(-58%);
    -webkit-transform: translateY(-58%); }
  #features .fa {
    color: #5291C8;
    font-size: 30px; }
  #features #preview.col {
    width: 270px;
    position: relative; }
  #features .caption.col {
    width: 630px; }
  #features #frame {
    z-index: 10;
    width: 250px;
    height: auto;
    left: 20px;
    position: absolute; }
  #features #preview_list {
    z-index: 0;
    background: #87CDFF;
    width: 200px;
    height: 351px;
    top: 75px;
    left: 45px;
    position: relative; }
  #features #caption_list {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0%;
    transition: 0.5s linear 0s;
    -ms-transition: 0.5s linear 0s;
    -moz-transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s; }
    #features #caption_list .caption_item {
      float: left;
      height: inherit;
      width: 630px; }
    #features #caption_list .caption_title {
      color: #767676;
      font-size: 32px;
      font-weight: 400;
      margin: 70px 0px 30px 30px; }
    #features #caption_list .caption_body {
      color: #8E8E8E;
      font-size: 18px;
      margin: 20px 0px 10px 30px; }

#developers {
  height: 700px;
  margin-top: 80px; }
  #developers .section_body {
    height: 620px;
    box-sizing: padding-box;
    padding-top: 10px; }
  #developers .caption {
    color: #8E8E8E;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    height: 40px;
    line-height: 40px; }
  #developers .content {
    margin-top: 20px;
    height: 550px; }
  #developers .col.prof {
    float: left;
    width: 50%; }
  #developers .col.left {
    padding: 0px 20px 0px 60px; }
  #developers .col.right {
    padding: 0px 50px 0px 40px; }
  #developers .prof_pic {
    display: block;
    width: 300px;
    border-radius: 150px;
    -ms-border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px; }
  #developers .prof_name {
    color: #009DFF;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px; }
  #developers .prof_role {
    color: #3eb5ff;
    margin-top: -5px; }
  #developers .prof_job {
    color: #767676;
    margin-top: 10px; }
  #developers .prof_desc {
    color: black;
    margin-top: 10px; }

footer {
  margin-top: 80px;
  height: 400px;
  background-color: #2a2a2a;
  box-shadow: inset 0px 5px 5px;
  position: relative; }
  footer * {
    text-align: center; }
  footer a {
    margin-top: 5px; }
  footer .section_title {
    border: none; }
  footer .button_link {
    width: 120px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    color: #009DFF;
    border: 1px solid #009DFF;
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: 0.2s linear 0s;
    -ms-transition: 0.2s linear 0s;
    -moz-transition: 0.2s linear 0s;
    -webkit-transition: 0.2s linear 0s; }
  footer .button_link:hover {
    cursor: pointer;
    color: white;
    background: #009DFF; }
  footer #contact {
    height: 200px;
    text-align: center; }
  footer #contact_content {
    width: 400px;
    height: 110px;
    margin: 0px auto; }
  footer .contact_box {
    width: 200px;
    height: 110px;
    float: left;
    display: inline-block; }
  footer .normal_link {
    color: #8E8E8E; }
  footer .contact_name {
    color: white;
    font-size: 20px;
    margin-top: 5px; }
  footer #copyright {
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    bottom: 0px;
    width: 1000px;
    position: absolute; }

/*# sourceMappingURL=main.css.map */
